
/* ============================= */
/* Partners Section */
/* ============================= */

.partners-section {
  background-color: #d5e9ec;
  padding: 0 20px;
}

.partners-container {
  max-width: 90rem;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 5rem;
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 992px) {
  .partners-container {
    flex-direction: column;
  }
}

.partners-left {
  flex: 1;
}

.partners-right {
  flex: 2;
  position: relative;
  overflow: hidden;
}

.marquee-wrapper {
  position: relative;
  overflow: hidden;
}

.marquee {
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  margin-bottom: 20px;
}

.marquee-track {
  display: flex;
  gap: 40px;
  align-items: center;
  width: fit-content;
}

.marquee-partner-card {
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: white;
  transition: transform 0.3s;
  padding: 12px 20px;
  flex-shrink: 0;
}

.marquee img {
  width: 100%;
  object-fit: cover;
}

.marquee-partner-morgan {
  width: 150px;
  height: 60px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.marquee-partner-morgan img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}

.marquee img:hover {
  transform: scale(1.1);
}

.marquee-left .marquee-track {
  animation: scroll-left 25s linear infinite;
}

.marquee-right .marquee-track {
  animation: scroll-right 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 600px) {
  .marquee-partner-card {
    width: 120px;
    height: 40px;
    padding: 6px 12px;
  }

  .marquee img {
    width: 100%;
    object-fit: cover;
  }
}