/* ============================= */
/* Testimonials Section */
/* ============================= */

.testimonials-section {
  /* max-width: 90rem; */
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Headings */
.sub-heading {
  color: #1d587a;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading-container {
  display: flex;
  flex-direction: column;
}

.title-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
}

.main-heading {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.testimonial-wrapper {
  display: flex;
  align-items: stretch;
  gap: 2rem;
  margin-top: 3rem;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.testimonial-wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 330px;
  background: #81c6c8;
  z-index: -1;
  border-radius: 8px;
}

.info-card {
  width: 384px;
  min-width: 384px;
  height: 357px;
  min-height: 357px;
  border-radius: 8px;
  padding: 32px;
  display: flex;
  justify-content: center;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 15px -3px #0000001a;
  background: #fff;
}

.info-card h3 {
  font-size: 24px;
  margin-bottom: 42px;
}

.info-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.career-logo {
  width: 100px;
  height: 28px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.google-section {
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: space-between;
}

.google-image {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.google-icon {
  width: 24px;
  height: 24px;
}

.score {
  font-weight: bold;
  font-size: 24px;
  color: #ffd029;
}

.info-card .stars {
  color: #facc15;
  font-size: 24px;
}

.info-text {
  font-size: 18px;
  font-weight: 500;
}

/* Swiper */
.swiper {
  flex-grow: 1;
  margin-top: 36px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-wrapper {
  display: flex;
  gap: 24px;
}

.myswiper {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.testimonial-card {
  background: #fff;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  overflow: hidden;
}

.testimonial-profile {
  gap: 16px;
  padding-top: 16px;
  border-top-width: 1px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.user-card {
  width: 64px;
  height: 64px;
  gap: 10px;
  padding: 13px 12px 13px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #1d587a;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.user-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
}
.user-role {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #5e5e5e;
}

.testimonial-video-wrapper {
  width: 100%;
  height: 190px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  overflow: hidden;
}

.testimonial-video-wrapper .youtube-iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.testimonial-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 24px 20px 16px;
}

.testimonial-rating img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.testimonial-divider {
  width: 80%;
  height: 1px;
  background-color: #e5e7eb;
  margin: 0 auto;
}

.testimonial-student {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.student-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.student-info {
  text-align: left;
}

.student-name {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding: 0;
}

.student-role {
  font-size: 14px;
  color: #9ca3af;
  margin: 4px 0 0 0;
  padding: 0;
}

.testimonial-card .stars {
  color: #facc15;
  font-size: 18px;
  margin-bottom: 1rem;
}

.testimonial-img {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.testimonial-img img {
  width: 100%;
  border-radius: 12px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: #1d587a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


@media (max-width: 992px) {
  .testimonial-wrapper {
    flex-direction: column;
  }

  .info-card {
    width: 100%;
    text-align: center;
  }

  .info-content {
    text-align: center;
  }
  .swiper {
    width: 100%;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .testimonial-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .swiper {
    width: 100%;
  }

  .main-heading {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
  }
}
