/* ============================
   Verification Page
=============================*/

.verify-box {
  text-align: center;
}

.verify-box h2 {
  font-size: 18;
  font-weight: 700;
  color: var(--text-dark);
}

.verify-subtext {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 20px;
}

.verify-subtext strong {
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 600;
}

.verify-subtext .user-info {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.otp-container {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin: 20px 0;
}

.otp-input {
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.otp-input:focus {
  border-color: #5e5e5e !important;
  outline: none !important;
  box-shadow: none !important;
}

.resend-text {
  font-size: 12px;
  color: var(--text-dark);
  margin-bottom: 18px;
  font-weight: 600;
}

.resend-text a {
  color: #6b6b6b;
  font-weight: 400;
  font-size: 12px;
}

.verify-btn {
  height: 36px;
  font-size: 14px;
  font-weight: 600;
}

/* MOBILE RESPONSIVE */
@media (max-width: 640px) {
  .otp-container {
    gap: 10px;
  }

  .otp-input {
    width: 46px;
    height: 46px;
    font-size: 18px;
  }

  .verify-btn {
    width: 100%;
    height: 46px;
  }
}
